* {
  font-family: "Red Hat Display", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}
body {
  background-image: url("images/pattern-background-desktop.svg");
  background-size: auto;
  background-position-x: center;
  background-repeat:repeat-x;
  background-color: hsl(225, 100%, 94%);
}
main {
  width: auto;
  display: flex;
  height: 98vh;
  justify-content: center;
  align-items: center;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
.container {
  width: 90%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 15px 5px #acacac46;
}

.summary {
  padding: 45px 0px 0px 0px;
  font-weight: 900;
  font-size: 28px;
  color: hsl(223, 47%, 23%);
  text-align: center;
}

.text {
  padding: 20px 0px 0px 0px;
  width: 82%;
  max-width: 350px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: hsl(224, 23%, 55%);
  line-height: 1.5;
}

.grid {
  box-sizing: border-box;
  display: grid;
  width: 83%;
  max-width: 350px;
  grid-template-columns: min-content auto min-content;
  margin: 20px 0px 30px 0px;
  padding: 25px 5% 20px 5%;
  border-radius: 15px;
  background-color: hsl(225, 100%, 98%);
}

.price {
  font-size: 16px;
  padding-left: 20px;
  color: hsl(224, 23%, 55%)
    
}
.change {
  font-size: 14.2px;
  grid-column: 3;
  grid-row: span 2;
  display: flex;
  align-items: center;
  color: hsl(245, 64%, 43%);
  font-weight: 700;
  cursor: pointer;
}

.btn--container{
	width: 86%;
	max-width: 350px;
	padding: 0 50px 0 50px";
}

.btn {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: hsl(245, 75%, 52%);
  color: white;
  font-size: 15px;
  font-weight: 900;
  box-shadow: 0px 15px 23px hsla(247, 47%, 77%, 0.904);
}

.item {
  grid-column: 2;
  padding-left: 20px;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.cancel {
  font-size: 15px;
  padding: 30px 0 10%;
  font-weight: 900;
  color: hsl(224, 23%, 55%);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .summary {
    font-size: 22px;
  }
  .item {
    font-size: 14px;
  }
  .price{
	  font-size: 14px;
  }
  .change{
	  font-size: 12px;
  }
}
